.msL {
  margin-left: 10px;
}

.msR {
  margin-right: 10px;
}

.msT {
  margin-top: 10px;
}

.psA {
  padding: 5px;
}

.inlineBlock {
  display: inline-block;
}

.error {
  color: red;
}

.success {
  color: green;
}
